input[type=text] {
    width: 25%;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.mp{
    background-color: greenyellow;
}

.head{
    text-align: center;
    text-decoration: underline;
}